.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (width >= 1024px) {
    padding: 0 60px;
  }

  @media screen and (width >= 1440px) {
    padding: 0 90px;

  }
}

.hide-scroll-bar {
  scrollbar-width: none;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

.text-left {
  align-items: flex-start;
  text-align: left;
}

.text-center {
  align-items: center;
  text-align: center;
}

.text-right {
  align-items: flex-end;
  text-align: right;
}

