/**
 * Section: Reviews
 * -----------------------------------------------------------------------------
 * - Styles for Reviews section.
 */

.reviews {
  $parent: &;

  position: relative;
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);

  &__heading {
    margin-bottom: 30px;
    font-size: var(--heading-font-size-mobile);
    line-height: 1.2;
    color: var(--heading-color);
  }

  &__wrapper {
    position: relative;
  }

  &-slider.swiper {
    overflow-y: visible;
    padding-top: 50px;
  }

  &__slide {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    width: 100%;
    height: auto;

    background-color: var(--bg-review-color);
    border-radius: 15px;
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: fit-content;

    border-radius: 50%;
  }

  &__stars {
    position: relative;

    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
  }

  &__star {
    svg path {
      fill: var(--bg-star-color);
    }
  }

  .empty {
    svg {
      fill: none;
      stroke: var(--bg-star-color);
    }

    path {
      fill: none;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }

  &__description {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.58;
    text-align: center;
  }

  &__author {
    margin-top: auto;
    padding-top: 40px;

    font-size: 20px;
    line-height: 1.25;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding: 70px 20px 20px;
  }

  &__bottom-bar {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: start;

    margin-top: auto;
    padding: 15px;

    background-color:  var(--bg-bottom-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &__product-title {
    max-width: 150px;

    font-size: 16px;
    line-height: 1.2;
    color: var(--color-white);
    text-align: left;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  &__product-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__product-image {
    width: 100%;
    max-width: 92px;

    img {
      aspect-ratio: 92/70;
      width: 100%;
      height: 100%;
    }
  }

  &-slider__prev,
  &-slider__next {
    cursor: pointer;

    position: absolute;
    z-index: 2;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    visibility: visible;
    opacity: 1;
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);

    transition: 0.3s all ease-in-out;

    &.swiper-button-disabled {
      visibility: hidden;
      opacity: 0;
    }
  }

  &-slider__prev {
    right: auto;
    left: -15px;

    svg {
      transform: rotate(180deg);
      margin-right: 2px; // alignment fix
    }
  }

  &-slider__pagination {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;

      opacity: 1;
      background-color: transparent;
      border: 1px solid var(--primary-black);
      border-radius: 50%;

      &.swiper-pagination-bullet-active {
        background-color: var(--primary-green);
        border: 1px solid transparent;
      }
    }
  }

  @media screen and (width >= 1024px) {
    padding-top: var(--section-padding-top-desktop);
    padding-bottom: var(--section-padding-bottom-desktop);

    &__heading {
      margin-bottom: 60px;
      font-size: var(--heading-font-size-desktop);
    }

    &__avatar {
      width: 140px;
    }

    &__stars {
      margin-bottom: 25px;
    }

    &-slider.swiper {
      overflow-y: visible;
      padding-top: 70px;
    }

    &__inner {
      padding: 95px 20px 40px;
    }

    &__bottom-bar {
      padding: 15px 20px;
    }

    &__arrow {
      right: 20px;
    }

    &__author {
      padding-top: 20px;
      font-size: 22px;
    }

    &-slider__prev,
    &-slider__next,
    &-slider__pagination {
      display: none;
    }
  }
}